* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(34, 23, 4);
    min-height: 100vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div#root {
    /* height: 100%; */
    width: 100%;
    max-width: 700px;
}

.header {
    background-color: beige;
    border-radius: 5px;
    padding: 0px 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    margin-bottom: 30px;
}

.header > h1 {
    margin: 20px 10px 0px 20px;
}


main {
    background-color: white;
    border-radius: 5px;
    min-width: 400px;
    padding: 40px;
    /* height: max-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.elementsBoard {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    width: min-content;
    align-items: center;
    justify-content: center;
}

.fragment-button {
    min-width: 100px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    object-fit: contain;
    /* object-position: 0 0; */
}

.held {
    border-color: black;
}

.action-button {
    width: max-content;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: beige;
    border-color: rgb(34, 23, 4);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}